@model Jogador

<link rel="stylesheet" href="~/css/jogadores.css">

@{
    ViewData["Title"] = "Edit";
}
<main>

    <section class="container-grid cadastro-equipes">


        <form class="frm-cad-equipe" method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data">

            <div class="cadequipe-titulo">
                <h1>Cadastro de Jogadores</h1>
                <hr>
            </div>

            <select class="campo-entrada" name="IdEquipe" id="IdEquipe">
                <option value="0">Selecione uma equipe:</option>
                @foreach (Equipe equipe in ViewBag.Equipe)
                {
                    <option value="@equipe.IdEquipe">@equipe.Nome</option>
                }
            </select>

            <input class="campo-entrada" type="text" id="nome-jogador" placeholder="Digite o nome do Jogador:"
                name="Nome">
            <input class="campo-entrada" type="email" id="email-jogador" naem="Email" required
                placeholder="Digite o Email do Jogador:">
            <input class="campo-entrada" type="password" id="senha" name="Senha" required placeholder="Digite a Senha:">
            <button>Cadastrar</button>




        </form>

        <!-- TABELA CADASTRO DE EQUIPES -->

    </section>
</main>